body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}


.status {
  margin-bottom: 15px;
  width: auto;
}

nav {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  width: 420px;
  background-color: #2A56C6;
  text-align: center;
}

.bus-list {
  padding-top: 80px;
  background-color: #ffffff;

}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  color: #2A56C6;
  margin-top: 0.5em;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.3em;
  display: inline-block;
}

h3{
  font-size: 1.5em;
  font-weight: 500;
  color: #4D4D4D;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
}

h4{
  font-size: 1.5em;
  font-weight: normal;
  color: #8B8A93;
  margin-bottom: 0.5em;
  margin-top: 0.25em;
  font-family: "Roboto";
  margin-right: 0.75em;
}


.ellipsis{
  float:right;
  margin-right: 2em;
}

.left {
  float:left;
  margin-left: 2em;
}

.arrow-left{
margin-top: 0.5em;
margin-bottom: 1.5em;

}

.divider {
  line-height: 2em;
  border-bottom: 2px solid rgba(202,210,207,.5);
}

.ul {
  background: #ffffff;
  list-style-type: none;
}

 .li {
  margin-top: 2em;
  margin-left: 2em;
}

.bus {
  margin-left: 2em;
  display: inline-block;
}

.bus-item {
  display: inline-block;
  margin-top: 1em;
}

.time {
  display: inline-block;
  margin-left: 3.5em;
  text-align: right;
}
